<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-tittle">

					<a th:href="@{/nuevo-pedido}"
						class="btn btn-outline-primary btn-xs">Agregar Pedido</a>
					
					<a class="nav-link float-right" th:href="@{/listar-pedido/(format=pdf)}" 
					title="Exportar a PDF" target="_blank">
					<img class="img-responsive center-box" th:src="@{/imagenes/pdf.png}" height="auto">						
				    </a>	
				    
				    <a class="nav-link float-right" 
				    th:href="@{'/listar-pedido/'(format=xlsx)}" title="Exportar a EXCEL" >
				    <img class="img-responsive center-box" th:src="@{/imagenes/excel.png}" height="auto">
				    </a>
						
				</h4>
				<nav th:replace="paginator-nav :: paginator"></nav>
				<table class="table table-striped " th:if="${!pedido.isEmpty()}">
					<thead class="bg-dark text-white text-center">
						<tr>
							<td>Id</td>
							<td>Fecha Pedido</td>
							<td>Estado Pedido</td>
							<td>Metodo de Envio</td>
							<td>Cliente</td>
							<td>Editar</td>
							<td>Eliminar</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pedidos: ${pedido}" >
							<td><a class="btn btn-primary btn-xs"
								th:href="@{detalle-pedido/} + ${pedidos.id}" th:text="${pedidos.id}"></a></td>
							<td th:text="${pedidos.fechaPedido}"></td>
							<td th:text="${pedidos.tEstadoPedido.descripcion}"></td>
							<td th:text="${pedidos.tMetodoEnvio.descripcion}"></td>
							<td th:text="${pedidos.tCliente.nombre}"></td>				
							<td class="text-center"><a
								class="btn btn-outline-success btn-xs"
								th:href="@{/editar-pedido/} + ${pedidos.id}">Editar</a></td>
							<td class="text-center" ><a
								class="btn btn-outline-danger btn-xs"
								th:href="@{/eliminar-pedido/} + ${pedidos.id}"
								onclick="return confirm('Desea eliminar el Pedido?');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<br/><br/><br/><br/><br/>
	<footer th:fragment="footer" id="footer" class="container-fluid"
		style="background-color: #0D0D2A !important; color: white !important; font-size: medium; ">
		<div class="container-fluid" style="background-color: #0D0D2A !important;"></div><div class="row" align="center">
			<div class="col-12 col-lg">
				<h3>Síguenos en</h3>
				<p>
					<img src="imagenes/facebook.png" alt="Logo compralo fácil" width="25" height="25"> <img src="imagenes/instagram.png" alt="Logo compralo fácil" width="25" height="25">
				</p>
				<img src="imagenes/gorjeo.png" alt="Logo compralo fácil" width="25" height="25">
				<p></p>
			</div>
			<div class="col-12 col-lg">
				<h4>Todos los derechos reservados por CompráloFácil Group In
					2020</h4>
				<p>
					<strong>Ubicación</strong> Zona 5, Pradera, Huehuetenango.<br>
					<strong>Télefono</strong> 22563689<br> <strong>Email</strong>
					compralofacil@gmail.com
				</p>

			</div>
			<div class="col-12 col-lg">
				<a href="#" style="color: white;">Términos y condiciones</a>
			</div>
			<div class="col-12 col-lg">
				<a href="#" style="color: white;">Privacidad</a>
			</div>

		</div><script th:src="@{/js/jquery-3.2.1.min.js}"></script><script th:src="@{/js/popper.min.js}"></script><script th:src="@{/js/bootstrap.min.js}"></script><script th:src="@{/js/jquery-ui.min.js}"></script>
		

	</footer>
</body>
</html>