<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"
				style="font-style: oblique; font-size: x-large; text-align: center; font-weight: bold;"></div>
			<div class="card-body">

				<nav class="navbar navbar-light bg-light">
					<form class="form-inline" th:action="@{/clienteNombre}" th:object="${cliente}" method="get">
						<input class="form-control mr-sm-2" type="text" th:field="*{nombre}"
							placeholder="Buscar" aria-label="Buscar">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Cliente</button>
					</form>
				</nav>
				<br/>
				

				<h4 class="card-tittle">
					<a th:href="@{/nuevo-cliente}"
						class="btn btn-outline-primary btn-xs text-white"
						style="background-color: #0A1B2A; border-color: #0A1B2A;">Agregar
						Cliente</a>
				</h4>
				<nav th:replace="paginator-nav :: paginator "></nav>
				<table class="table table-striped " th:if="${!clientes.isEmpty()}">
					<thead class="text-white text-center"
						style="background-color: #0A1B2A;">
						<tr>
							<td>Id</td>
							<td>Nombre</td>
							<td>Apellido</td>
							<td>Dpi</td>
							<td>Telefono</td>
							<td>Nit</td>
							<td>Fecha Nacimiento</td>
							<td>Correo</td>
							<td>Detalle</td>
							<td>Editar</td>
							<td>Eliminar</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${clientes}"
							th:style="${cliente.dpi == null} ? 'background-color: red'">
							<td th:href="${cliente.id}" th:text="${cliente.id}"
								style="font-size: medium; font-weight: bold; font-family: fantasy;"></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.dpi}"></td>
							<td th:text="${cliente.telefono}"></td>
							<td th:text="${cliente.nit}"></td>
							<td th:text="${cliente.fechaNacimiento}"></td>
							<td th:text="${cliente.correo}"></td>
							<td class="text-center"><a
								class="btn btn btn-warning btn-xs"
								th:href="@{detalle-cliente/} + ${cliente.id}"
								style="color: white; background-color: #0B4C5F; border-color: #0B4C5F;">Ver
									detalle</a></td>
							<td class="text-center"><a class="btn btn-success btn-xs"
								th:href="@{/editar-cliente/} + ${cliente.id}">Editar</a></td>
							<td class="text-center"><a class="btn btn-danger btn-xs"
								th:href="@{/eliminar-cliente/} + ${cliente.id}"
								onclick="return confirm('Desea eliminar el Cliente?');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
				<a class="btn btn-danger btn-xs float-right" th:href="@{'/listar-clientes/'(format=pdf)}">PDF</a>
			</div>
		</div>
	</div>


	<script th:replace="clientes/js/autocomplete-clientes :: javascript"></script>
</body>
</html>