<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8"/>
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
	
			
				<ul class="list-group">
					<li class="list-group-item active" th:text="${metodoenvios.id}"></li>
					<li class="list-group-item" th:text="${metodoenvios.descripcion}"></li>
				</ul>

				<table class="table table-bordered table-striped my-4">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre de metodo de envio</th>
						</tr>
					</thead>
					<tbody>
							<tr th:each="metodoenvio: ${tmetodoenvios}"> 
							<td th:text="${metodoenvio.id}"></td>
							<td th:text="${metodoenvio.descripcion}"></td>
							
							</tr> 
					</tbody>
				</table>

			</div>
		</div>
	</div>



	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>