<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-tittle">

					<a th:href="@{/nuevo-metodopago}"
						class="btn btn-outline-primary btn-xs">Agregar Metodo de pago</a>
				</h4>
				<nav th:replace="paginator-nav :: paginator"></nav>
				<table class="table table-striped " th:if="${!metodopagos.isEmpty()}">
					<thead class="bg-dark text-white text-center">
						<tr>
							<td>Id</td>
							<td>Descripcion</td>
							<td>Editar</td>
							<td>Eliminar</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="metodopago: ${metodopagos}"
							th:style="${metodopago.descripcion== null} ? 'background-color: red'">
							<td><a class="btn btn-primary btn-xs"
								th:href="@{detalle-metodopago/} + ${metodopago.id}" th:text="${metodopago.id}"></a></td>
							<td th:text="${metodopago.descripcion}"></td>
							<td class="text-center"><a
								class="btn btn-outline-success btn-xs"
								th:href="@{/editar-metodopago/} + ${metodopago.id}">Editar</a></td>
							<td class="text-center" ><a
								class="btn btn-outline-danger btn-xs"
								th:href="@{/eliminar-metodopago/} + ${metodopago.id}"
								onclick="return confirm('Desea eliminar el Metodo de pago?');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>