<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Inicior</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<img th:src="${productoAmazon.mainImage.imageUrl}" class="img-fluid"
		alt="${productoAmazon.mainImage.imageUrl}">
	<div class="card col-md-4 col-lg-7">
		<div class="card-header" th:text="${productoAmazon.productTitle}">
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"
				th:text="${productoAmazon.productDescription}"></li>
			<li class="list-group-item" th:text="${productoAmazon.productRating}">
			</li>
			<li class="list-group-item" th:text="${productoAmazon.price}"></li>
			<li class="list-group-item"
				th:text="${productoAmazon.precioQuetzales}"></li>
		</ul>
		<button type="button" class="btn btn-success">RealizarCompra</button>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>