<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/layout.css}" />
<link rel="stylesheet" th:href="@{/css/divs.css}" />
</head>
<body>

	<header>
		<div class="container-fluid" style="background: #0D0D2A;">
			<div class="row">
				<div class="col-6" style="color: white; font-family: Mystery Quest";>
					Bienvenidos a Cómpralo Fácil Guatemala</div>
				<div class="col-4" style="color: white; font-family: Mystery Quest";>
					<p>compralofacil@gmail.com</p>
				</div>
				<div class="col-2" style="color: white; font-family: Mystery Quest";>
					<p>
						País <img src="imagenes/bandera.png" width="20" height="20"
							alt="bandera"> Guatemala
					</p>
				</div>
			</div>
		</div>


		<nav class="navbar navbar-expand-lg navbar-light bg-white">
			<a class="navbar-brand" href="#"> <img src="imagenes/logo.jpg"
				width="180" height="130" alt="Logo compralo fácil">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="container" align="center">
				<div class="row" align="center">
					<div class="col-7">
						<a th:href="@{/login}" class=".btn btn-primary  btn-lg active" role="button"
							aria-pressed="true" style="background-color: #FE9A2E !important;">
							<img src="imagenes/registro.png" width="30" height="25"
							alt="Logo compralo fácil"> Iniciar Sesion
						</a>
					</div>

					<div class="col-2" align="center">
						<a href="#" class=".btn btn-primary  btn-lg active" role="button"
							aria-pressed="true" style="background-color: #FE9A2E !important;">
							Registrarse</a>
					</div>


				</div>

			</div>
		</nav>

		<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
			style="background-color: #0D0D2A !important;">

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav navbar-left">
				<li class="nav-item active"><a class="nav-link"
						th:href="@{/carrito}">Carrito<span class="sr-only">(current)</span>
					</a></li>
				</ul>
				<ul class="navbar-nav m-auto">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/inicio}"> Inicio <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/sobreNosotros}">Sobre Nosotros <span
							class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item active"><a class="nav-link text-resaltar"
						href="#">Productos <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item active"><a class="nav-link" href="#">Tiendas
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/contacto}">Contáctanos <span class="sr-only">(current)</span>
					</a></li>
					
				</ul>
				<ul class="navbar-nav navbar-right">
					<li sec:authorize="!isAuthenticated()"><a <button type="button" class="btn btn-warning" th:href="@{/login}" style="font-weight: bold;">Iniciar Sesión</a></button></li>

					<li sec:authorize="isAuthenticated()" class="dropdown show"><a
						class="btn btn-outline-primary dropdown-toggle" href="#"
						role="button" id="dropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><span
							sec:authentication="name"></span></a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							
							<form id="logoutForm" th:action="@{/logout}" method="post">
								<button class="dropdown-item"
									onclick="document.getElementById('logoutForm').submit();"
									type="submit">Sign Out</button>
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />

								</form>
								
							<a <button type="button" class="dropdown-item"
							th:href= "@{/menuAdmin}">Administracion</button></a>

						</div>
				</ul>
				
				


			</div>
		</nav>

		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</header>


	<div class="container"></div>


	<footer th:fragment="footer" id="footer" class="container-fluid"
		style="background-color: #0D0D2A !important; color: white !important; font-size: medium;">
		<div class="container-fluid" style="background-color: #0D0D2A !important;"></div><div class="row" align="center">
			<div class="col-12 col-lg">
				<h3>Síguenos en</h3>
				<p>
					<img src="imagenes/facebook.png" alt="Logo compralo fácil" width="25" height="25"> <img src="imagenes/instagram.png" alt="Logo compralo fácil" width="25" height="25">
				</p>
				<img src="imagenes/gorjeo.png" alt="Logo compralo fácil" width="25" height="25">
				<p></p>
			</div>
			<div class="col-12 col-lg">
				<h4>Todos los derechos reservados por CompráloFácil Group In
					2020</h4>
				<p>
					<strong>Ubicación</strong> Zona 5, Pradera, Huehuetenango.<br>
					<strong>Télefono</strong> 22563689<br> <strong>Email</strong>
					compralofacil@gmail.com
				</p>

			</div>
			<div class="col-12 col-lg">
				<a href="#" style="color: white;">Términos y condiciones</a>
			</div>
			<div class="col-12 col-lg">
				<a href="#" style="color: white;">Privacidad</a>
			</div>

		</div><script th:src="@{/js/jquery-3.2.1.min.js}"></script><script th:src="@{/js/popper.min.js}"></script><script th:src="@{/js/bootstrap.min.js}"></script><script th:src="@{/js/jquery-ui.min.js}"></script>
		

	</footer>

	<hr />
	
	
	
	
</body>
</html>

