<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-tittle">

					<a th:href="@{/form}" class="btn btn-outline-primary btn-xs">Seguir
						comprando</a>
				</h4>
				<table class="table table-striped ">
					<thead class="bg-dark text-white text-center">
						<tr>
							<td>ID</td>
							<td>LINK</td>
							<td>DETALLE PRODUCTO</td>
							<td>PRECIO</td>
							<td>CANTIDAD</td>
							<td>SUBTOTAL</td>
							<td>ELIMINAR</td>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="det : ${tDetallePedido}">
							<td th:text="${det.idDetallePedido}"></td>
							<td th:text="${det.linkProducto}"></td>
							<td th:text="${det.detalleProducto}"></td>
							<td th:text="${det.precio}"></td>
							<td th:text="${det.cantidad}"></td>
							<td th:text="${det.precio * det.cantidad}"></td>
							<td class="text-center"><a
								class="btn btn-outline-danger btn-xs"
								th:href="@{/eliminar-producto/} + ${det.idDetallePedido}"
								onclick="return confirm('Desea eliminar Producto');">Eliminar</a></td>
							<td></td>	
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="TOTALES"></div>
			<div class="card-body">

				<h4 class="card-tittle"></h4>
				<table class="table table-striped ">
					<thead class="bg-dark text-white text-center">
						<tr>
						</tr>
						<tr>
						</tr>
					</thead>
					<tbody>
						<tr><td th:text="TOTAL"></td>
							<td th:text="${total}"></td>
						</tr>
					</tbody>
				</table>
				<button >PAGAR</button>
			</div>
		</div>
	</div>





	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>