<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>


	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="page-header" th:text="${titulo}" ></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 mb-4">
				<form th:object="${usuario}">
					<div class="form-group">
						<label for="nombre" class="control-label">Nombre</label>
						<input type="text" class="form-control" id="nombre"
							th:field="*{cliente.nombre}">
					</div>
					<div class="form-group">
						<label for="apellido" class="control-label">Apellido</label> 
						<input type="text" class="form-control" id="apellido"
							th:field="*{cliente.apellido}" >
					</div>
					<div class="form-group">
						<label for="dpi" class="control-label">DPI</label>
						 <input type="text" class="form-control" id="dpi"
							th:field="*{cliente.dpi}">
					</div>
					<div class="form-group">

						<label for="telefono" class="control-label">Telefono</label>
						<input
							type="text" class="form-control" id="telefono" th:field="*{cliente.telefono}">
					</div>
					<div class="form-group">
						<!-- State Button -->
						<label for="state_id" class="control-label">State</label> <select
							class="form-control" id="state_id">
							<option value="AL">Alabama</option>
							<option value="AK">Alaska</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="DC">District Of Columbia</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="HI">Hawaii</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="WV">West Virginia</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
						</select>
					</div>
					<div class="form-group">
						<label for="nit" class="control-label">NIT</label> <input
							type="text" class="form-control" id="nit" th:field="*{cliente.nit}">
					</div>
					
					<div class="form-group">
						<label for="correo" class="control-label">Correo</label> <input
							type="text" class="form-control" id="correo" th:field="*{cliente.correo}">
					</div>

				</form>

			</div>
			<div class="col-lg-6 mb-4">
				<div>
					<table class="table">
						<thead>
						</thead>
						<tbody>
							<tr>
								<br></br>
								<td scope="row" th:text="'TOTAL'"></td>
								<td th:text="'Q ' + ${total}"></td>
							</tr>
							<tr>
								<br></br>
								<td scope="row" th:text="'CANTIDAD DE ARTICULOS'"></td>
								<td th:text="${lista.size()}"></td>
							</tr>
						</tbody>
					</table>
					<a th:href="@{/carrito-pago}"
						class="btn btn-outline-success btn-xs">Pagar</a>
					<hr />
				</div>
			</div>
		</div>

	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>