<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-tittle">

					<a th:href="@{/nuevo-departamento}"
						class="btn btn-outline-primary btn-xs">Agregar Departamento</a>
				</h4>
				<nav th:replace="paginator-nav :: paginator"></nav>
				
				<tbody>
			
				<table class="table table-bordered table-dark" th:if="${!departamentos.isEmpty()}">
				  <thead class="bg-dark text-white text-center" align:"center">
				    <tr>
				      <th scope="col">Id</th>
				      <th scope="col">Departamento</th>
				      <th scope="col">Editar</th>
				      <th scope="col">Eliminar</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="departamento: ${departamentos}" th:style="${departamento.nombreDepartamento == null} ? 'background-color: red'" >
				    <td><a class="btn btn-primary btn-xs"
					th:href="@{detalle-departamento/} + ${departamento.id}" th:text="${departamento.id}"></a></td>  
				     
				     <td th:text="${departamento.nombreDepartamento}"></td>
				     <td class="text-center"><a
								class="btn btn-outline-success btn-xs"
								th:href="@{/editar-departamento/} + ${departamento.id}">Editar</a></td>
							<td class="text-center" ><a
								class="btn btn-outline-danger btn-xs"
								th:href="@{/eliminar-departamento/} + ${departamento.id}"
								onclick="return confirm('Desea eliminar el Departamento?');">Eliminar</a></td>
				    </tr>
				 
				  </tbody>
				  
				</table>	
				
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>