<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-tittle">

					<a th:href="@{/nuevo-cuenta}"
						class="btn btn-outline-primary btn-xs">Agregar Cuenta</a>
				</h4>
				<nav th:replace="paginator-nav :: paginator"></nav>
				<table class="table table-striped " th:if="${!cuentas.isEmpty()}">
					<thead class="bg-dark text-white text-center">
						<tr>
							<td>Id</td>
							<td>Fecha</td>
							<td>Pedido</td>
							<td>Estado Cuenta</td>
							<td>Editar</td>
							<td>Eliminar</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cuenta: ${cuentas}" >
							<td><a class="btn btn-primary btn-xs"
								th:href="@{detalle-cuenta/} + ${cuenta.id}" th:text="${cuenta.id}"></a></td>
							<td th:text="${cuenta.fecha}"></td>
							<td th:text="${cuenta.tPedido.id}"></td>
							<td th:text="${cuenta.tEstadoCuenta.descripcion}"></td>				
							<td class="text-center"><a
								class="btn btn-outline-success btn-xs"
								th:href="@{/editar-cuenta/} + ${cuenta.id}">Editar</a></td>
							<td class="text-center" ><a
								class="btn btn-outline-danger btn-xs"
								th:href="@{/eliminar-cuenta/} + ${cuenta.id}"
								onclick="return confirm('Desea eliminar la Cuenta?');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>