<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">



</head>
<body>
<header th:replace="layout/layout :: header"></header>
<link rel="stylesheet" th:href="@{/css/informacionP.css}" />


<div class="contenedor">
<form action="" class="form">
<div class="form-header">
<h1 class="form-title"><span>PAGUETES DE PAGO</span></h1>
</div>
<label for="nombre" class="form-label">Descripcion de Pago:</label>
<input type="text" id="nombre" class="form-input" placeholder="Descripcion">



<input type="submit" class="btn-submit" value="Guardar">
<br/>


<a th:href="@{/cuentaCliente}"
						class="btn btn-warning btn-lg btn-block">Regresar</a>
</form>
</div>

<br/>
<br/>            
   <footer th:replace="layout/layout :: footer"></footer> 
</body>
</html>