<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">



				<table class="table table-striped " th:if="${!estadocuentas.isEmpty()}">
					<thead class="bg-dark text-white text-center">
						<tr>
							<td>Id</td>
							<td>Descripcion</td>
							<td>Editar</td>
							<td>Eliminar</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="estadocuenta: ${estadocuentas}"
							th:style="${estadocuenta.descripcion== null} ? 'background-color: red'">
							<td><a class="btn btn-primary btn-xs"
								th:href="@{detalle-estadocuenta/} + ${estadocuenta.id}" th:text="${estadocuenta.id}"></a></td>
							<td th:text="${estadocuenta.descripcion}"></td>
							<td class="text-center"><a
								class="btn btn-outline-success btn-xs"
								th:href="@{/editar-estadocuenta/} + ${estadocuenta.id}">Editar</a></td>
							<td class="text-center" ><a
								class="btn btn-outline-danger btn-xs"
								th:href="@{/eliminar-estadocuenta/} + ${estadocuenta.id}"
								onclick="return confirm('Desea eliminar el Estado Cuenta?');">Eliminar</a></td>
						</tr>
						

					</tbody>
					
				</table>
								<h4 class="card-tittle">

											<a th:href="@{/nuevo-estadocuenta}"
						class="btn btn-outline-primary btn-xs">Agregar Estado Cuenta</a>
						
										
				</h4>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>